body {
  background-image: linear-gradient(to right,rgb(8, 8, 73), rgb(17, 40, 170));
}
.container{

}

.item-um {
  max-height: 500px;
  overflow-y: auto;
  scroll-behavior: auto;
  border-top: 3px solid #333;
  border-bottom: 3px solid #111;
}

.back::after {
  content: "";
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/Official_FFH_US_Poster.jpg/revision/latest?cb=20190522171521");
  background-repeat: no-repeat;
  background-size: 500px 700px;
  background-position: left  top;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
.item-tres{
  background-color: rgb(18, 18, 92);
  color: #eee;
  box-shadow: 10px 10px 10px #111;
  z-index: 1;
  min-width: 250px;
}
.info-main-filme{
  min-width: 400px;
  .card {
    z-index: 1;
    height: 750px;
    background-color: #eee;
  }
}


@media (max-width:700px) {
  .info-main-filme{
    min-width: 320px;
  }
}
