

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
article {
  grid-area: article;
}

#content {
  display: grid;
  height: 98vh;
  gap: 10px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
  grid-template-areas:
  'header header'
  'main aside'
  'main aside'
  'main article';
}

body {
  background-image: linear-gradient(to right,rgb(8, 8, 73), rgb(17, 40, 170));
}

.back::after {
  content: "";
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/Official_FFH_US_Poster.jpg/revision/latest?cb=20190522171521");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  opacity: 0.3;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
.item-um {
  padding: 20px 50px;
  max-height: 80vh;
  overflow-y: auto;
  scroll-behavior: auto;
  border-top: 3px solid #333;
  border-bottom: 3px solid #111;
}
.item-tres{
  background-color: rgb(18, 18, 92);
  color: #eee;
  box-shadow: 10px 10px 10px #111;
  z-index: 1;
  min-width: 250px;
  max-width: 270px;
  margin: 0 auto;
}
.info-main-filme{
  display: flex;
  min-width: 300px;
  .card {
  align-self: stretch;
    z-index: 1;
    background-color: #eee;
  }
}

.header{
  background-image: linear-gradient(to right,rgb(8, 8, 73), rgb(17, 40, 170));
  color: white;
  height: 100%;
  z-index: 2;
  position: relative;
  h1{
    font-weight: 900;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto 0;
    margin-left: 5rem;
  }
  button{
    position: absolute;
    top: 25px;
    right: 50px;
  }
}

@media (max-width:700px) {
  #content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'header'
    'main'
    'aside'
    'article';
  }
  .header {
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
    }
    button {
      position: static;
      max-width: 10rem;
      margin: 10px auto;
    }
  }
  article {
    padding-bottom: 10rem;
  }
}


